@page
@model Server.Pages.AboutModel

@{
    var pageTitle = Resources.PageTitles.About;
    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<h3>
    @(pageTitle)
</h3>

<hr />

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        @(Resources.DataDictionary.SiteAuthor)
    </div>
    <div class="col">
        <img src="~/images/Nima.jpg" class="img-fluid" alt="Nima Zare" asp-append-version=true />
    </div>
    <div class="col">
    </div>
</div>

<hr />
